/*
*-------------------------------------------------------
* General Styles
*-------------------------------------------------------
*/
*{
    font-family:IRANSans;
}

.text-gray_dark{
    color: #333;
}

.reverse-dir{
    display: flex;
    flex-direction: row-reverse;
}
/*
*-------------------------------------------------------
* Navbar
*-------------------------------------------------------
*/

.menu li span{
    font-family:IRANSans;
    color: #FFF;
    display: block;
    font-size: 15px;
    height: 100%;
    line-height: 50px;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    word-wrap: break-word;
}

li.home span{
    display: none;
}


/*
*-------------------------------------------------------
* Extra Content
*-------------------------------------------------------
*/


#extraContent{
    /*border-bottom: 0;*/
    height: auto;
    margin-top: 50px;
    padding: 30px 0;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
}

/*
*-------------------------------------------------------
* Top Content
*-------------------------------------------------------
*/

#topContent{
    background-color: #f9f9f9;
    border-bottom: 0;
    padding: 30px 0 20px;
    height: auto;
    box-shadow: inset 0px -3px 5px 0px rgba(0, 0, 0, 0.1);
}

.topContentTitle{
    font-family: IRANSans;
}
.topContentTitle h2{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 3px;
}

.topContentTitle h2 span{
    display: inline-block;
    padding: 3px;
    border: 2px solid #a7a7a7;
    border-radius: 3px;
}

.topContentTitle small.text-info{
    margin-bottom: 10px;
    display: inline-block;
    color: #a7a7a7;
}

.topContentTitle .welcome-note{
    color: #666;
}

.time-date-container{
    max-width: 300px;
    margin: 25px auto 0;
    text-align: center;
    font-size: 18px;
}
.time-date-container .time-date-inner{
    max-width: 150px;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto;
}

.time-date-container .time{
    font-size: 22px;
    font-weight: 300;
    color: #929292;
    margin-bottom: 5px;
}
.time-date-container .time hr{
    max-width: 100px;
    margin: 0 auto;
}
.time-date-container .week-day{

}
.time-date-container .date{
    font-size: 14px;
}

/*
*-------------------------------------------------------
* dataComponent
*-------------------------------------------------------
*/

#dataComponent{
    padding: 50px 0;
}

.dataComponent{
    max-width: 300px;
    min-width: unset;
    width: auto;
    float: none;
}

.dataComponent .dataComponentText.textOnly{
    font-family: IRANSans;
}

.dataComponent .dataComponentText .percent{
    display: inline-block;
    margin: 0 7px;
}

/*
*-------------------------------------------------------
* Footer
*-------------------------------------------------------
*/

#footerContent{
    font-family: IRANSans;
}
.footerContentTitle{
    font-family: IRANSans;
}

/*
*-------------------------------------------------------
* Panels
*-------------------------------------------------------
*/

.panel .panel-heading .panelTitleText{
    font-family:IRANSans;
}

.panelInfoBTN,
.panelPrimaryBTN
{
    color: inherit;
}

/*
*-------------------------------------------------------
* Tables
*-------------------------------------------------------
*/

table.table tr td .glyphicon{
    margin: 0 3px;
}

.custom-form label.control-label{
    font-weight: normal;
    font-size: 14px;
}

.custom-form .form-group{
    margin: 5px 0;
}

.custom-table thead{
    text-align: left !important;
}

.custom-table thead tr th{
    text-align: left !important;
}

/*
*-------------------------------------------------------
* Modal
*-------------------------------------------------------
*/
.modal.in .modal-dialog{
    z-index: 1042;
}

